@import "tailwindcss";


html{
  scroll-behavior: smooth;
}
@keyframes apper {
    from {
        scale: 0.5
    }

    to {
        scale: 1;
    }
}


section div {
    animation: apper both;
    animation-timeline: view(85% 0%);
}

.input {
  @apply w-full px-4 py-3 rounded-xl bg-white/5 border border-white/10
  text-white placeholder-gray-500 focus:outline-none focus:ring-2
  focus:ring-indigo-500 transition;
}
